<ion-header class = "bg-gray-900">
  <ion-toolbar color="bg-gray-900" class="text-white">
    <ion-buttons slot="start">
      <button (click)="goBack()">
        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM19 7L1 7V9L19 9V7Z" fill="white"/>
        </svg>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="bg-gray-900" class="text-white">
    <ion-buttons slot="start">
      <ion-title class="text-xl font-inter">Autobill</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label class="text-orange-500 text-xl font-inter">History</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-grow flex flex-col p-4 space-y-4">
  <!-- Main Content -->
  <!-- <div class="p-4 space-y-4"> -->
    <!-- Search -->
    <ion-item color = "bg-gray-800" class="custom-reset w-full border border-custom-border rounded">
      <ion-input placeholder="Search..." class="w-full p-2 bg-transparent"></ion-input>
    </ion-item>

    <!-- Empty State -->
    <div class="text-center flex-grow flex flex-col items-center font-inter p-10">
      <ion-img src="assets/Frame 61.png" alt="Empty" class="mx-auto mb-4 mt-[70px]" style="width: 150px; height: 150px;"></ion-img>
      <p>You currently have no recurring payments set up</p>
    </div>
  <!-- </div> -->
</ion-content>

<ion-footer class="p-4 bg-gray-900">
  
    <ion-button color="orange-600" expand="full" class="bg-orange-600 text-white rounded-lg w-full flex items-center justify-center font-inter" (click)="addNewBill()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add new bill
    </ion-button>
  
</ion-footer>
